conf.txt
*.pdb
*.pdbqt
*.tcl
*.bed
*.zip
*.faa
*.fasta
*.sam
*.gtf
*.gro
*.top
*.in
*.alloy
alanin.*
*.py
*.mdp
*.gz
*.tgz
README.txt
BOINC_Proc_File.txt
Temp-BOINC/*
*.R
*.f90
*.c
*.cpp
set*
complex_setup.sh
Org_Key1.txt
*.f90
job-template.txt
pyjob.txt
Test*
tag*
dev-*
MC.tcl
auto*
0
constant
system
happ.cu
